<section class="section_feature-split"><div class="padding-global"><div class="container-medium"><div spacing-bottom="2" spacing-top="2" class="padding-section"><div class="w-layout-grid feature-split_component">
<div class="feature-split_content">
<div class="margin-bottom margin-xsmall"><div class="text-weight-semibold">Tagline</div></div>
<div class="text-rich-text w-richtext">
<h2>Medium length section heading goes here</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
</div>
<div class="margin-top margin-small"><div class="button-group">
<a href="#" class="button w-button">Button</a><a href="#" class="button is-secondary w-button">Button</a>
</div></div>
</div>
<div reverse-split-layout="false" class="feature-split_image-wrapper"><img src="https://cdn.prod.website-files.com/652dae448c5ccf7a5dd97a2c/652dae448c5ccf7a5dd97a51_placeholder-image.svg" loading="lazy" alt="" class="feature-split_image"></div>
</div></div></div></div></section>
