<form id="email-form" name="email-form" data-name="Email Form" method="get" class="form" data-wf-page-id="652dae448c5ccf7a5dd97a27" data-wf-element-id="336be75c-ab2b-838b-5642-972b6cc8648e">
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc8648f-5dd97a27" class="w-layout-grid styleguide_item-row">
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc86490-5dd97a27" class="class-label-column">
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc86491-5dd97a27" class="class-label-row"><div id="w-node-_336be75c-ab2b-838b-5642-972b6cc86492-5dd97a27" class="styleguide_label">field-label</div></div>
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc86494-5dd97a27" class="class-label-row"><div class="styleguide_label">form-input</div></div>
</div>
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc86497-5dd97a27" class="form-field-wrapper">
<label for="node-2" class="field-label">.field-label</label><input class="form-input w-input" maxlength="256" name="field" data-name="" placeholder=".form-input" type="text" id="node">
</div>
</div>
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc8649b-5dd97a27" class="w-layout-grid styleguide_item-row">
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc8649c-5dd97a27" class="class-label-column"><div id="w-node-_336be75c-ab2b-838b-5642-972b6cc8649d-5dd97a27" class="class-label-row">
<div class="styleguide_label">form-input</div>
<div class="styleguide_label">is-text-area</div>
</div></div>
<div class="form-field-wrapper">
<label for="Field-5" class="field-label">.field-label</label><textarea name="field-3" maxlength="5000" id="field-3" placeholder=".form-input.textarea" data-name="field" class="form-input is-text-area w-input"></textarea>
</div>
</div>
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864a6-5dd97a27" class="w-layout-grid styleguide_item-row">
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864a7-5dd97a27" class="class-label-column"><div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864a8-5dd97a27" class="class-label-row">
<div class="styleguide_label">form-input</div>
<div class="styleguide_label">is-select-input</div>
</div></div>
<div class="form-field-wrapper">
<label for="Field-5" class="field-label">.field-label</label><select id="field-4" name="field-4" data-name="field" class="form-input is-select-input w-select"><option value="">Select one...</option>
<option value="First">First Choice</option>
<option value="Second">Second Choice</option>
<option value="Third">Third Choice</option></select>
</div>
</div>
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864b1-5dd97a27" class="w-layout-grid styleguide_item-row">
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864b2-5dd97a27" class="class-label-column"><div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864b3-5dd97a27" class="class-label-row"><div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864b4-5dd97a27" class="styleguide_label">form-checkbox</div></div></div>
<label class="w-checkbox form-checkbox"><div class="w-checkbox-input w-checkbox-input--inputType-custom form-checkbox-icon"></div>
<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"><span class="form-checkbox-label w-form-label" for="checkbox-2">Checkbox</span></label>
</div>
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864ba-5dd97a27" class="w-layout-grid styleguide_item-row">
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864bb-5dd97a27" class="class-label-column"><div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864bc-5dd97a27" class="class-label-row"><div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864bd-5dd97a27" class="styleguide_label">form-radio</div></div></div>
<label class="w-checkbox form-radio"><div class="w-checkbox-input w-checkbox-input--inputType-custom form-radio-icon"></div>
<input type="checkbox" id="Radio 1" name="Radio-1" data-name="Radio 1" style="opacity:0;position:absolute;z-index:-1"><span for="Radio-1" class="form-radio-label w-form-label">Radio</span></label>
</div>
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864c3-5dd97a27" class="w-layout-grid styleguide_item-row">
<div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864c4-5dd97a27" class="class-label-column"><div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864c5-5dd97a27" class="class-label-row"><div id="w-node-_336be75c-ab2b-838b-5642-972b6cc864c6-5dd97a27" class="styleguide_label">button</div></div></div>
<input type="submit" data-wait="Please wait..." id="w-node-_336be75c-ab2b-838b-5642-972b6cc864c8-5dd97a27" class="button w-button" value="Submit">
</div>
</form>
